#accesssory {
	width: 100%;
	background: #fff;
	padding: 100px 0;
}

#accesssory .inner {
	width: 1180px;
	margin: 0 auto;
	position: relative;
}

#accesssory .inner h1 {
	font: bold 22px/1 'arial';
	margin-bottom: 30px;
	text-align: center;
}

#accesssory .inner h1 span {
	color: #444;
}

#accesssory .inner .store {
	display: block;
	width: 150px;
	margin: 0 auto;
	font: bold 16px/1 'arial';
	color: #555;
}

#accesssory .inner .wrap {
	width: 100%;
	margin-bottom: 50px;
}

#accesssory .inner .wrap article {
	float: left;
	width: 580px;
	height: 200px;
	margin-right: 20px;
	background: #888;
	position: relative;
}

#accesssory .inner .wrap article .pic {
	width: 200px;
	height: 100%;
	background: #555;
	position: absolute;
	top: 0;
	left: 0;
}

#accesssory .inner .wrap article .con {
	width: 300px;
	margin-left: 220px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#accesssory .inner .wrap article .con h2 {
	font: bold 18px/1 'arial';
	margin-bottom: 10px;
}

#accesssory .inner .wrap article .con p {
	font: bold 18px/1 'arial';
}

#accesssory .inner .wrap article .more {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	background: blue;
	color: #fff;
	border-radius: 30px;
}
