* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.center {
  max-width: 1180px;
  min-width: 640px;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 40px auto;
}

#header {
  position: fixed;
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
  z-index: 1000;
}
#header.on, #header.off {
  transition-property: background-color;
  transition-duration: 1.5s;
}
#header.on {
  background-color: rgba(255, 255, 255, 0.8);
}
#header.off {
  background-color: rgba(0, 0, 0, 0);
}
#header > .hd_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 75px;
  font-weight: bold;
  color: #333;
}
#header > .hd_content a {
  display: inline-block;
  color: #333;
}
#header > .hd_content a:hover {
  color: dodgerblue;
}
#header > .hd_content #logo {
  font-size: 30px;
  margin-right: 50px;
}
#header > .hd_content #gnb {
  margin-right: auto;
}
#header > .hd_content #gnb ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header > .hd_content #gnb ul li a {
  padding: 20px;
  font-size: 16px;
  transition: 0.3s;
}
#header > .hd_content > .search > :nth-of-type(n) {
  padding: 20px;
}
#header > .hd_content > .search > :nth-last-of-type(1) {
  padding-right: 0;
}

#footer {
  border-top: 1px solid #ddd;
}
#footer > .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
#footer > .center .copy {
  min-width: 300px;
  font-weight: bold;
  font-size: 15px;
  color: #555;
  padding: 10px 80px;
}
#footer > .center .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  padding: 10px 0px;
}
#footer > .center .link li {
  width: fit-content;
  margin-left: 10px;
}
#footer > .center .link li a {
  font-weight: bold;
  font-size: 15px;
  color: #555;
}

#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}
#visual > .banner_video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 100vh;
  padding-bottom: 80px;
  opacity: 0.9;
}
#visual > .banner_video > video {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  object-fit: none;
}
#visual > .banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: #fff;
}
#visual > .banner_content > h3 {
  font-size: 42px;
  margin-bottom: 20px;
}
#visual > .banner_content > p {
  font-size: 22px;
}

#choice {
  padding: 0px 20px;
  box-sizing: border-box;
  background: #fff;
}
#choice h2 {
  text-align: center;
  font-size: 22px;
}
#choice .choice_content {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}
#choice .choice_content > div:nth-of-type(n) {
  position: relative;
  flex: 1;
  margin-right: 40px;
}
#choice .choice_content > div:nth-of-type(n):after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#choice .choice_content > div:nth-of-type(n) img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#choice .choice_content > div:nth-of-type(n) .more_btn {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: #888;
  opacity: 0.6;
  font-size: 12px;
  color: #fff;
}
#choice .choice_content > div:nth-of-type(n) span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10vw;
  line-height: 1em;
  color: #fff;
}
#choice .choice_content > div:last-of-type {
  margin-right: 0px;
}
#choice > .more_destination_btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background: red;
  font-size: 16px;
  border-radius: 50px;
  color: #fff;
}

#diary {
  padding: 20px;
  background: #eee;
}
#diary .center {
  padding: 0px;
}
#diary .diary_hd {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#diary .diary_hd h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
}
#diary .diary_hd .diary_more {
  color: #aaa;
}
#diary .diary_content {
  display: flex;
  justify-content: space-between;
}
#diary .diary_content > article:nth-of-type(n) {
  position: relative;
  flex: 1;
  height: 300px;
  padding: 0px 20px 20px;
  margin-right: 40px;
  background: #fff;
  font-weight: bold;
  overflow: auto;
}
#diary .diary_content > article:nth-of-type(n) > :nth-child(n) {
  margin-bottom: 30px;
}
#diary .diary_content > article:nth-of-type(n) h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
#diary .diary_content > article:nth-of-type(n) h3::before {
  content: "";
  position: relative;
  left: -20px;
  display: inline-block;
  width: 5px;
  height: 30px;
  background: blue;
}
#diary .diary_content > article:nth-of-type(n) h3 span {
  display: inline-block;
  font-size: 12px;
  color: #666;
}
#diary .diary_content > article:nth-of-type(n) p {
  display: inline-block;
  font-size: 16px;
  color: #444;
}
#diary .diary_content > article:nth-of-type(n) > :last-child {
  margin-bottom: 0px;
}
#diary .diary_content > article:last-of-type {
  margin-right: 0px;
}

#accessory h2 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
}
#accessory h2 span {
  font-weight: normal;
  color: #444;
}
#accessory .accessory_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#accessory .accessory_content > div:nth-child(n) {
  position: relative;
  display: flex;
  flex: 1;
  padding: 20px;
  height: 200px;
  margin-right: 20px;
  background: #888;
}
#accessory .accessory_content > div:nth-child(n) img {
  flex: 0;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
#accessory .accessory_content > div:nth-child(n) .accessory_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
#accessory .accessory_content > div:nth-child(n) .accessory_item h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
#accessory .accessory_content > div:nth-child(n) .accessory_more {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: blue;
  color: #fff;
  border-radius: 30px;
}
#accessory .accessory_content > div:last-child {
  margin-right: 0px;
}
#accessory .store {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #555;
}

/*# sourceMappingURL=style.css.map */
