@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.wrap::after {
  display: block;
  content: "";
  clear: both;
}

/* article float에서 마지막 요소 마진 0주기 위함 */
.wrap > article:nth-last-of-type(1) {
  margin: 0 !important;
}

.wrap > li:nth-last-of-type(1) {
  margin: 0 !important;
}

#header {
  width: 90vw;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#header .inner {
  width: 1180px;
  margin: 0 auto;
  height: 75px;
  line-height: 75px;
  position: relative;
}
#header .inner h1 {
  float: left;
  margin-right: 50px;
}
#header .inner h1 a {
  font: bold 30px/1 "arial";
  color: #333;
}
#header .inner #gnb {
  float: left;
  text-align: center;
}
#header .inner #gnb li {
  float: left;
  padding: 0 20px;
}
#header .inner #gnb li a {
  font: bold 16px/1 "arial";
  color: #333;
}
#header .inner #sns {
  float: right;
  text-align: center;
}
#header .inner #sns li {
  float: left;
  padding: 0 20px;
}
#header .inner #sns li a {
  font: bold 16px/1 "arial";
  color: #333;
}
#header .inner .btnCall {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
}

@media screen and (max-width: 1179px) {
  #header {
    width: 90vw;
    padding: 30px;
  }
  #header .inner {
    width: 100%;
  }
  #header .inner h1 {
    margin-right: 50px;
  }
  #header .inner nav {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
}
footer {
  width: 100%;
  padding: 30px 0;
  background: #fff;
}
footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
footer .inner .copy {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 340px;
  height: 75px;
  line-height: 75px;
}
footer .inner .copy span {
  font: bold 15px/1 "arial";
  color: #555;
}
footer .inner ul.wrap {
  margin-left: 700px;
}
footer .inner ul.wrap li {
  float: left;
  margin-right: 20px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
footer .inner ul.wrap li a {
  font: bold 15px/1 "arial";
  color: #555;
}

#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#visual .lower {
  z-index: 2;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  text-align: center;
}
#visual .lower h2 {
  font: bold 42px/1 "airal";
  color: #fff;
  margin-bottom: 20px;
}
#visual .lower p {
  font: bold 22px/1 "airal";
  color: #fff;
}
#visual .upper {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  clip-path: circle(390vh at 50% -300vh);
  opacity: 0.9;
}
#visual .upper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#choice {
  width: 100%;
  background: #fff;
  padding: 50px 0;
}
#choice .inner {
  width: 1180px;
  margin: 0 auto;
}
#choice .inner .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 50px;
  background: red;
  font: 16px/50px "arial";
  border-radius: 50px;
  color: #fff;
}
#choice .inner h1 {
  text-align: center;
  font: bold 22px/1 "arial";
  margin-bottom: 30px;
}
#choice .inner .wrap {
  width: 100%;
  margin-bottom: 50px;
}
#choice .inner .wrap article {
  float: left;
  width: 380px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#choice .inner .wrap article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#choice .inner .wrap article .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #888;
  opacity: 0.6;
  color: #fff;
  font: 12px/50px "arial";
  text-align: center;
}
#choice .inner .wrap article p {
  position: absolute;
  bottom: 0;
  left: 0;
  font: 140px/1 "arial";
  color: #fff;
}

#diary {
  width: 100%;
  background: #eee;
  padding: 50px 0;
}
#diary .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#diary .inner h1 {
  font: bold 22px/1 "arial";
  margin-bottom: 30px;
}
#diary .inner .more {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
}
#diary .inner .wrap article {
  float: left;
  width: 380px;
  height: 300px;
  padding: 20px;
  margin-right: 20px;
  background: #fff;
}
#diary .inner .wrap article h2 {
  font: bold 18px/1.1 "arial";
  color: #333;
}
#diary .inner .wrap article h2::before {
  display: block;
  content: "";
  border-left: 5px solid blue;
  height: 30px;
  position: relative;
  left: -20px;
  top: 20px;
}
#diary .inner .wrap article span {
  display: inline-block;
  font: bold 12px/1.1 "arial";
  color: #666;
  margin-bottom: 30px;
}
#diary .inner .wrap p {
  display: inline-block;
  font: bold 16px/1.3 "arial";
  color: #444;
  margin-bottom: 30px;
}

#accesssory {
  width: 100%;
  background: #fff;
  padding: 80px 0;
}
#accesssory .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#accesssory .inner h1 {
  font: bold 22px/1 "arial";
  margin-bottom: 30px;
  text-align: center;
}
#accesssory .inner h1 span {
  color: #444;
}
#accesssory .inner .store {
  display: block;
  width: 150px;
  margin: 0 auto;
  font: bold 16px/1 "arial";
  color: #555;
}
#accesssory .inner .wrap {
  width: 100%;
  margin-bottom: 60px;
}
#accesssory .inner .wrap article {
  float: left;
  width: 580px;
  height: 200px;
  margin-right: 20px;
  background: #888;
  position: relative;
}
#accesssory .inner .wrap article .pic {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  text-align: center;
}
#accesssory .inner .wrap article .pic img {
  width: 80%;
  height: 80%;
}
#accesssory .inner .wrap article .con {
  width: 300px;
  margin-left: 220px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#accesssory .inner .wrap article .con h2 {
  font: bold 18px/1 "arial";
  margin-bottom: 10px;
}
#accesssory .inner .wrap article .con p {
  font: bold 18px/1 "arial";
}
#accesssory .inner .wrap article .more {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  background: blue;
  color: #fff;
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
