#accesssory {
	width: 100%;
	background: #fff;
	padding: 80px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		h1 {
			font: bold 22px/1 'arial';
			margin-bottom: 30px;
			text-align: center;

			span {
				color: #444;
			}
		}

		.store {
			display: block;
			width: 150px;
			margin: 0 auto;
			font: bold 16px/1 'arial';
			color: #555;
		}

		.wrap {
			width: 100%;
			margin-bottom: 60px;

			article {
				float: left;
				width: 580px;
				height: 200px;
				margin-right: 20px;
				background: #888;
				position: relative;

				.pic {
					width: 200px;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(50%);
					text-align: center;
					img {
						width: 80%;
						height: 80%;
					}
				}

				.con {
					width: 300px;
					margin-left: 220px;
					position: relative;
					top: 50%;
					transform: translateY(-50%);

					h2 {
						font: bold 18px/1 'arial';
						margin-bottom: 10px;
					}

					p {
						font: bold 18px/1 'arial';
					}
				}

				.more {
					width: 50px;
					height: 50px;
					line-height: 50px;
					position: absolute;
					bottom: 0;
					right: 0;
					text-align: center;
					background: blue;
					color: #fff;
					border-radius: 30px;
				}
			}
		}
	}
}
