#accessories {
	width: 100%;
	padding: 80px 0;
	background-color: lightcyan;

	.inner {
		width: 1180px;
		margin: 0 auto;
		border: 1px solid red;

		h2 {
			text-align: center;
			width: 300px;
			height: 20px;
			margin: 20px auto;
			font: 22px/1 'arial';
			span {
				color: gray;
			}
		}

		.wrap.clearfix {
			width: 100%;
			.item-wrap {
				float: left;
				width: calc(100% / 3);
				padding: 20px;
				border: 1px solid bisque;
				.item {
					width: 100%;
					border: 1px solid black;
					.acc {
						position: relative;
						img {
							width: 100px;
							height: 100px;
							margin-right: 20px;
						}
						.acc-info {
							position: relative;
							display: inline-block;
							padding: 5px;
							width: 100px;
							h4 {
								font: 22px/1 'arial';
							}
						}
						div.more {
							position: absolute;
							bottom: 0;
							right: 0;
							width: 50px;
							height: 50px;
							background-color: #e2e2e29c;
							&.more::before {
								background-color: #111;
								content: '';
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 1px;
								height: 10px;
							}
							&.more::after {
								background-color: #111;
								content: '';
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 10px;
								height: 1px;
							}
						}
					}
				}
			}
		}
		.store {
			width: 100px;
			height: 20px;
			margin: 20px auto;
		}
	}
}
