footer {
	width: 100%;
	padding: 30px 0;
	background-color: purple;
	.inner {
		width: 1180px;
		height: 75px;
		line-height: 75px;
		margin: 0 auto;
		border: 1px solid red;
		.footermenu {
			float: right;
			li {
				float: left;
				margin-right: 30px;
				a {
					font: bold 15px/1 'arial';
				}
			}
		}
	}
}
