#footer {
	border-top: 1px solid #ddd;

	& > .center{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;

		.copy {
			min-width: 300px;
			font-weight: bold;
			font-size: 15px;
			color: #555;
			padding: 10px 80px;
		}
	
		.link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 500px;
			padding: 10px 0px;

			li {
				width: fit-content;
				margin-left: 10px;
				a {
					font-weight: bold;
					font-size: 15px;
					color: #555;
				}
			}
		}
	}

}
