#header {
	position: fixed;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	z-index: 1000;

	& > .hd_content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		min-height: 75px;
		padding: 0px;
		font-weight: bold;
		color: #333;

		a {
			display: inline-block;
			color: #333;
		}

		#logo {
			font-size: 30px;
		}

		#gnb {
			margin: 0 40px;
			ul { 
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					display: inline-block;
					a {
						padding: 20px;
						font-size: 16px;
						transition: 0.3s;
						&:hover {
							color: #f00;
						}
					}
				}
			}
		}

		& > .search {
			span {
				margin-right: 10px;
			}
		}
	}
}
