#header {
	position: fixed;
	width: 100%;
	padding: 30px 100px;
	box-sizing: border-box;
	z-index: 1000;

	&.on,
	&.off {
		transition-property: background-color;
		transition-duration: 1.5s;
	}

	&.on {
		background-color: rgba(255, 255, 255, 0.8);
	}
	&.off {
		background-color: rgba(0, 0, 0, 0);
	}

	& > .hd_content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		min-height: 75px;
		font-weight: bold;
		color: #333;

		a {
			display: inline-block;
			color: #333;
			&:hover {
				color: dodgerblue;
			}
		}

		#logo {
			font-size: 30px;
			margin-right: 50px;
		}

		#gnb {
			margin-right: auto;
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					a {
						padding: 20px;
						font-size: 16px;
						transition: 0.3s;
					}
				}
			}
		}

		& > .search {
			& > :nth-of-type(n) {
				padding: 20px;
			}
			& > :nth-last-of-type(1) {
				padding-right: 0;
			}
		}
	}
}
