* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}


.center {
	max-width: 1180px;
	min-width: 640px;
	padding: 0px 20px;
	box-sizing: border-box;
	margin: 40px auto;
}